.dots-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .dot.active {
    background-color: white;  
  }
  